<html lang="en">
<head>
  <title> Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #100100;
    background-color: #FBFFC9;
}
  
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #FBFFC9;
      padding: 25px;
    }
  </style>
</head>
<body >

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">About</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Student Portal</a></li>
        <li><a href="#">Faculty Portal</a></li>
        <li><a href="#">Admin</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="container text-center">
    <h1>School Management system</h1>      
    <p>Welcome!</p>  
  </div>
</div>
  
<div class="container-fluid bg-3 text-center">    
  <h3></h3><br>
  <div class="row">
      <div> 
      <p>Holy Angel University</p>
        <img src="image/graduate%20school.jpg" alt="Holy Angel University" width="100%">
      </div>
  </div>
    
</div><br>

<footer class="container-fluid text-center">
  <p>Enroll Now!</p>
</footer>

</body>
</html>

   
