<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
    <meta charset="utf-8">
    <title>DashBoard</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    </head>
    <body>
        
        <input type="checkbox" id="check">
        <header>
            <label for="check">
            <i class="fas fa-bars" id="sidebar_btn"></i>
            </label>
        <div class="left_area">
        <h3>Student<span>DashBoard</span></h3>
            </div>
            <div class="right_area">
            <a href="#" class="logout_btn">Logout</a>
            </div>
        </header>
        
        
 
        <div class="siderbar">
        <center>
        <img src="1.png" class="profile_image" alt="">
        <h4>Rainiel</h4>
        </center>
        <a href="#"><i class="fas fa-desktop-alt"></i><span>Files</span></a>
        <a href="#"><i class="fas fa-table"></i><span>Show Grades</span></a>
        <a href="#"><i class="fas fa-th"></i><span>Change User</span></a>
        <a href="#"><i class="fas fa-into-circle"></i><span>Help</span></a>
        <a href="#"><i class="fas fa-sliders-h"></i><span>Settings</span></a>
        <a href="#"><i class="fas fa-cogs"></i><span>Logout</span></a>
        </div>    
        
        
        <div class="content"></div>
    </body>
</html>